.container {
  text-align: center;
  justify-content: center;
  display: flex;
}

.hidebtn {
  margin-left: 50px;
  background-color: green;
  height: 20px;
  width: 100px;
  margin-top: 25px;
}

.title {
  margin-top: 5px;
  margin-left: 100px;
  border: solid 1px;
}

#root {
  display: flex;
}